<section class="">

  <app-header [title]="'Lab Tests'"></app-header>

  <section class="p-5">

  <ul class="flex items-center gap-2 mb-5">
    <li *ngFor="let category of labTestsCategories" (click)="handleCategories(category.name)"
    class="cursor-pointer px-3 py-1 font-semibold rounded-lg duration-300" [ngClass]="category.active ? 'bg-blue-500 text-white' : 'bg-neutral-200'">{{ category.name }}</li>
  </ul>

  <ul class="flex flex-col gap-1">
    <li *ngFor="let test of activeLabTests" class="bg-neutral-100 duration-300 hover:bg-neutral-200 rounded-lg p-2 flex justify-between items-center">
      <p class="font-semibold flex flex-col ">
        <span class="text-lg">{{ test.title }}</span>
        <span class="text-neutral-500">{{ test.time }}</span>
      </p>
      <button class="px-2 rounded-lg" [ngClass]="test.status === 'completed' ? 'bg-green-100 text-green-500' : test.status === 'pending' ? 'bg-amber-100 text-amber-500' : 'bg-blue-100 text-blue-500'">{{ test.status }}</button>
    </li>
  </ul>

  </section>

</section>
